<br>
<center>
<img src="https://raw.githubusercontent.com/elaynelemos/prediction-of-orders-dmc/main/assets/img/univasf-logo.png" width=200>
<h3>
    UNIVERSIDADE FEDERAL DO VALE DO SÃO FRANCISCO
    <br>COLEGIADO DE ENGENHARIA DE COMPUTAÇÃO
</h3>

<h3>Orientador</h3>
<span>Prof. Dr. Rosalvo Ferreira de Oliveira Neto</span>

<h3>Discentes</h3>
<span>Anísio Pereira Batista Filho
<br>Edjair Aguiar Gomes Filho
<br>Elayne Rute Lessa Lemos</span>
</center>
<br><br>

## Predição de pedidos com Redes Neurais e Random Forest

Projeto em: [github.com/elaynelemos/prediction-of-orders-dmc](https://github.com/elaynelemos/prediction-of-orders-dmc)

### Importação da base de dados

In [1]:
import numpy as np
import pandas as pd

In [2]:
repo_url = 'https://raw.githubusercontent.com/elaynelemos/prediction-of-orders-dmc/main'

transact_train_database = pd.read_csv(f'{repo_url}/data/transact_train.txt', sep = '|')
transact_train_database.sample(3)

        sessionNo  startHour  startWeekday  ...  address  lastOrder order
120347      14304         20             5  ...        2         36     y
47411        5676         12             5  ...        1         18     y
320832      37427          8             7  ...        ?          ?     n

[3 rows x 24 columns]

In [3]:
transact_test_database = pd.read_csv(f'{repo_url}/data/transact_class.txt', sep = '|')
transact_test_database.sample(3)

       sessionNo  startHour  startWeekday  ...  age  address lastOrder
1105         116         18             7  ...    ?        ?         ?
33583       3569         22             7  ...   36        1        50
21521       2235         20             7  ...   37        2        11

[3 rows x 23 columns]

<br>

### Alteração da granularidade da base de dados

In [4]:
# remove todas as linhas com valores de sessionNo iguais exceto a última
session_train_database = transact_train_database.drop_duplicates(subset=['sessionNo'], keep='last')

# separa variável alvo no conjunto de treinamento
session_train_X = session_train_database.iloc[:,:-1]
session_train_y = session_train_database.iloc[:,-1]
session_train_y = session_train_y.replace({'y': 1 , 'n': 0 })


# remove todas as linhas com valores de sessionNo iguais exceto a última na base de teste
session_test_X = transact_test_database.drop_duplicates(subset=['sessionNo'], keep='last')

In [5]:
session_test_X.sample(3)

       sessionNo  startHour  startWeekday  ...  age  address lastOrder
30188       3177         21             7  ...    ?        ?         ?
13226       1349         19             7  ...   46        2       115
17263       1808         20             7  ...   35        1         4

[3 rows x 23 columns]

<br>

### Tratamento de valores ausentes

In [6]:
def replace_missing_value(df, value, features):
    replaced = df[features].replace(value, np.nan)
    for column in features:
        df[column] = replaced[column]

    return df

In [7]:
# convert_float() é baseadona solução proposta no Estudo de Caso
# do livro Ciência dos Dados pelo Processo de KDD do Prof. Dr. Rosalvo Neto
# livro em: https://www.researchgate.net/publication/352749819_Ciencia_dos_Dados_pelo_Processo_de_KDD
# implementação em: https://github.com/rosalvoneto/Livro

def convert_float(df, numeric_features):
    for column in numeric_features:
        df[column] = df[column].astype(float)

    return df

In [8]:
def replace_missing_by_fixed_value(df, value, features):
    for column in features:
        df[column].fillna(value, inplace=True)

    return df

In [9]:
# replace_missing_by_mean() é baseadona solução proposta no Estudo de Caso
# do livro Ciência dos Dados pelo Processo de KDD do Prof. Dr. Rosalvo Neto
# livro em: https://www.researchgate.net/publication/352749819_Ciencia_dos_Dados_pelo_Processo_de_KDD
# implementação em: https://github.com/rosalvoneto/Livro

def replace_missing_by_mean(df, numeric_features):
    for column in numeric_features:
        average = df[column].mean(axis=0)
        df[column].fillna(average, inplace=True)
    
    return df

In [10]:
def replace_missing_by_median(df, numeric_features):
    for column in numeric_features:
        med = df[column].median(axis=0)
        df[column].fillna(med, inplace=True)
    
    return df

In [11]:
def replace_missing_by_min(df, numeric_features):
    for column in numeric_features:
        minimum = df[column].min(axis=0)
        df[column].fillna(minimum, inplace=True)
    
    return df

In [12]:
numeric_features = ['cMinPrice', 'cMaxPrice', 'cSumPrice', 'bMinPrice', 'bMaxPrice',
    'bSumPrice', 'bStep','maxVal', 'customerScore', 'accountLifetime', 'payments', 
    'age', 'address', 'lastOrder']

string_features = ['availability', 'onlineStatus']

customerno_dependent_feats = ['maxVal', 'customerScore', 'accountLifetime', 'payments',
    'age', 'address', 'lastOrder']

In [13]:
# substitui '?' por NaN na base do projeto
session_train_X = replace_missing_value(session_train_X.copy(), '?', numeric_features)
session_test_X = replace_missing_value(session_test_X.copy(), '?', numeric_features)
session_train_X = replace_missing_value(session_train_X.copy(), '?', string_features)
session_test_X = replace_missing_value(session_test_X.copy(), '?', string_features)

# converte NaN para float
session_train_X = convert_float(session_train_X, numeric_features)
session_test_X = convert_float(session_test_X, numeric_features)

In [14]:
# substitui '?' por NaN na base original
transact_train_database = replace_missing_value(transact_train_database.copy(), '?', numeric_features)
transact_train_database = replace_missing_value(transact_train_database.copy(), '?', string_features)
transact_test_database = replace_missing_value(transact_test_database.copy(), '?', numeric_features)
transact_test_database = replace_missing_value(transact_test_database.copy(), '?', string_features)

# converte NAN para float
transact_train_database = convert_float(transact_train_database, numeric_features)
transact_test_database = convert_float(transact_test_database, numeric_features)

In [15]:
# estabelece valor fixo para valores ausentes em atributos não numéricos
session_train_X = replace_missing_by_fixed_value(session_train_X, 'ausente', string_features)
session_test_X = replace_missing_by_fixed_value(session_test_X, 'ausente', string_features)

In [16]:
session_train_X.sample(3)

        sessionNo  startHour  startWeekday  ...   age  address  lastOrder
322826      37666          9             7  ...  73.0      2.0       39.0
118070      14018         19             5  ...   NaN      NaN        NaN
167704      20130          9             6  ...   NaN      NaN        NaN

[3 rows x 23 columns]

In [17]:
session_preprocessed = {}

#### Estratégia: substituição pela média

In [18]:
session_train_X_mean_replacing = replace_missing_by_mean(session_train_X.copy(), numeric_features)
session_test_X_mean_replacing = replace_missing_by_mean(session_test_X.copy(), numeric_features)

session_train_X_mean_replacing = replace_missing_value(session_train_X_mean_replacing.copy(),
    '?', customerno_dependent_feats)
session_test_X_mean_replacing = replace_missing_value(session_test_X_mean_replacing.copy(),
    '?', customerno_dependent_feats)

session_train_X_mean_replacing = replace_missing_by_mean(
    session_train_X_mean_replacing,
    customerno_dependent_feats
)
session_test_X_mean_replacing = replace_missing_by_mean(
    session_test_X_mean_replacing,
    customerno_dependent_feats
)

In [19]:
# armazena estágio de pré-processamento para facilitar na exportação
session_preprocessed['session_train_X_mean_replacing'] = session_train_X_mean_replacing
session_preprocessed['session_test_X_mean_replacing'] = session_test_X_mean_replacing
session_preprocessed['session_train_y_mean_replacing'] = session_train_y.copy()

In [20]:
session_train_X_mean_replacing.sample(3)

        sessionNo  startHour  startWeekday  ...        age   address  lastOrder
367904      43364         13             7  ...  42.000000  2.000000   9.000000
256343      30143         18             6  ...  63.000000  1.000000   6.000000
244107      28768         17             6  ...  44.921048  1.706919  79.007675

[3 rows x 23 columns]

#### Estratégia: remoção de registros pouco relevantes para o modelo após substituição pela média

In [21]:
# rows = session_train_database['customerNo'] == '?' 
#     and session_train_database['onlineStatus'] == 'ausente'
#     and session_train_database['availability'] == 'ausente'
temp = session_train_database[session_train_database['customerNo'] == '?']
temp = temp[temp['onlineStatus'] == '?']
temp = temp[temp['availability'] == '?']

# demonstação de que para quando customerNo, onlineStatus e availability
# são nulos, não há variabilidade na classe proporção aproximada de 1% para 'y'
temp.groupby('order').sessionNo.nunique()

order
n    6977
y      73
Name: sessionNo, dtype: int64

In [22]:
rows_to_drop = temp.index.values.tolist()

session_train_X_mean_drop_replacing = session_train_X_mean_replacing.drop(rows_to_drop, axis=0)
session_train_y_mean_drop_replacing = session_train_y.drop(rows_to_drop, axis=0)

In [23]:
session_preprocessed['session_train_X_mean_drop_replacing'] = session_train_X_mean_drop_replacing
session_preprocessed['session_test_X_mean_drop_replacing'] = session_test_X_mean_replacing.copy()
session_preprocessed['session_train_y_mean_drop_replacing'] = session_train_y_mean_drop_replacing

In [24]:
session_train_X.sample(3)

        sessionNo  startHour  startWeekday  ...   age  address  lastOrder
117876      13991         19             5  ...  28.0      1.0      605.0
337676      39778         11             7  ...  51.0      2.0       18.0
370344      43609         13             7  ...  49.0      1.0       94.0

[3 rows x 23 columns]

#### Estratégia: substituição pela mediana

In [25]:
session_train_X_median_replacing = replace_missing_by_median(session_train_X.copy(), numeric_features)
session_test_X_median_replacing = replace_missing_by_median(session_test_X.copy(), numeric_features)

In [26]:
session_train_X_median_replacing = replace_missing_value(session_train_X_median_replacing.copy(),
    '?', customerno_dependent_feats)
session_test_X_median_replacing = replace_missing_value(session_test_X_median_replacing.copy(),
    '?', customerno_dependent_feats)

session_train_X_median_replacing = replace_missing_by_median(
    session_train_X_median_replacing,
    customerno_dependent_feats
)

session_test_X_median_replacing = replace_missing_by_median(
    session_test_X_median_replacing,
    customerno_dependent_feats
)

In [27]:
session_preprocessed['session_train_X_median_replacing'] = session_train_X_median_replacing
session_preprocessed['session_test_X_median_replacing'] = session_test_X_median_replacing
session_preprocessed['session_train_y_median_replacing'] = session_train_y.copy()

In [28]:
session_train_X_mean_replacing.sample(3)

        sessionNo  startHour  startWeekday  ...        age   address  lastOrder
304589      35379         22             6  ...  44.921048  1.706919  79.007675
78761        9488         16             5  ...  57.000000  2.000000  10.000000
133017      15724         21             5  ...  44.921048  1.706919  79.007675

[3 rows x 23 columns]

#### Estratégia: substituição pelo mínimo

In [29]:
session_train_X_min_replacing = replace_missing_by_min(session_train_X.copy(), numeric_features)
session_test_X_min_replacing = replace_missing_by_min(session_test_X.copy(), numeric_features)

In [30]:
session_train_X_min_replacing = replace_missing_value(session_train_X_min_replacing.copy(),
    '?', customerno_dependent_feats)
session_test_X_min_replacing = replace_missing_value(session_test_X_min_replacing.copy(),
    '?', customerno_dependent_feats)

session_train_X_min_replacing = replace_missing_by_min(
    session_train_X_min_replacing,
    customerno_dependent_feats
)

session_test_X_min_replacing = replace_missing_by_min(
    session_test_X_min_replacing,
    customerno_dependent_feats
)

In [31]:
session_preprocessed['session_train_X_min_replacing'] = session_train_X_min_replacing
session_preprocessed['session_test_X_min_replacing'] = session_test_X_min_replacing
session_preprocessed['session_train_y_min_replacing'] = session_train_y.copy()

In [32]:
session_train_X_min_replacing.sample(3)

        sessionNo  startHour  startWeekday  ...   age  address  lastOrder
313285      36470          4             7  ...  17.0      1.0        3.0
154009      18269          2             6  ...  17.0      1.0        3.0
23464        2862         10             5  ...  17.0      1.0        3.0

[3 rows x 23 columns]

<br>

### Criação de variáveis

In [33]:
# bMeanSumPriceOverTransacitions: valor médio do carrinho durante a sessão 
session_train_X['bMeanSumPriceOverTransacitions'] = transact_train_database.groupby('sessionNo').bSumPrice.mean()
session_train_X['bMeanSumPriceOverTransacitions'].fillna(0, inplace=True)
session_test_X['bMeanSumPriceOverTransacitions'] = transact_test_database.groupby('sessionNo').bSumPrice.mean()
session_test_X['bMeanSumPriceOverTransacitions'].fillna(0, inplace=True)

# meanInterationsDuration: valor médio de tempo entre uma transação e outra na sessão
session_train_X['meanInterationsDuration'] = session_train_X['duration']/transact_train_database.groupby('sessionNo').duration.count()
session_train_X['meanInterationsDuration'].fillna(0, inplace=True)
session_test_X['meanInterationsDuration'] = session_test_X['duration']/transact_test_database.groupby('sessionNo').duration.count()
session_test_X['meanInterationsDuration'].fillna(0, inplace=True)

# bMeanCountOverTransacitions: quantidade média de itens no carrinho durante a sessão 
session_train_X['bMeanCountOverTransacitions'] = transact_train_database.groupby('sessionNo').bCount.mean()
session_train_X['bMeanCountOverTransacitions'].fillna(0, inplace=True)
session_test_X['bMeanCountOverTransacitions'] = transact_test_database.groupby('sessionNo').bCount.mean()
session_test_X['bMeanCountOverTransacitions'].fillna(0, inplace=True)

In [34]:
from re import compile as mount


regex = mount('.*_X.*')
session_X = list(filter(regex.match, list(session_preprocessed.keys())))

average_prices = transact_train_database.groupby('sessionNo').bSumPrice.mean()
average_iter_durations = session_train_X['duration']/transact_train_database.groupby('sessionNo').duration.count()
average_counts = transact_train_database.groupby('sessionNo').bCount.mean()

for key in session_X:
    # bMeanSumPriceOverTransacitions: valor médio do carrinho durante a sessão 
    session_preprocessed[key]['bMeanSumPriceOverTransactions'] = average_prices.copy()
    # meanInterationsDuration: valor médio de tempo entre uma transação e outra na sessão
    session_preprocessed[key]['meanInterationsDuration'] = average_iter_durations.copy()
    # bMeanCountOverTransacitions: quantidade média de itens no carrinho durante a sessão 
    session_preprocessed[key]['bMeanCountOverTransactions'] = average_counts.copy()

In [35]:
columns = ['bMeanSumPriceOverTransactions', 'meanInterationsDuration', 'bMeanCountOverTransactions']

session_preprocessed['session_train_X_mean_replacing'] = replace_missing_by_mean(
    session_preprocessed['session_train_X_mean_replacing'],
    columns
)
session_preprocessed['session_test_X_mean_replacing'] = replace_missing_by_mean(
    session_preprocessed['session_test_X_mean_replacing'],
    columns
)

session_preprocessed['session_train_X_mean_drop_replacing'] = replace_missing_by_mean(
    session_preprocessed['session_train_X_mean_drop_replacing'],
    columns
)
session_preprocessed['session_test_X_mean_drop_replacing'] = replace_missing_by_mean(
    session_preprocessed['session_test_X_mean_drop_replacing'],
    columns
)

session_preprocessed['session_train_X_median_replacing'] = replace_missing_by_median(
    session_preprocessed['session_train_X_median_replacing'],
    columns
)
session_preprocessed['session_test_X_median_replacing'] = replace_missing_by_median(
    session_preprocessed['session_test_X_median_replacing'],
    columns
)

session_preprocessed['session_train_X_min_replacing'] = replace_missing_by_min(
    session_preprocessed['session_train_X_min_replacing'],
    columns
)
session_preprocessed['session_test_X_min_replacing'] = replace_missing_by_min(
    session_preprocessed['session_test_X_min_replacing'],
    columns
)

In [36]:
session_preprocessed['session_test_X_min_replacing'].sample(3)

       sessionNo  ...  bMeanCountOverTransactions
35587       3786  ...                   10.761905
28543       2981  ...                    7.843750
41395       4509  ...                    1.000000

[3 rows x 26 columns]

<br>

### Normalização do conjunto de dados

In [37]:
# Listagem dos X de treinamento e teste

regex = mount('.*_X.*')
session_X = list(filter(regex.match, list(session_preprocessed.keys())))

#### Ajusta Indexação e remove coluna não mais significativa

In [38]:
for key in session_X:
    session_preprocessed[key].set_index('sessionNo', inplace=True)
    session_preprocessed[key] = session_preprocessed[key].drop(['customerNo'], axis=1)

In [39]:
session_preprocessed['session_train_X_median_replacing'].sample(3)

           startHour  ...  bMeanCountOverTransactions
sessionNo             ...
38559             10  ...                        1.75
48639             17  ...                        1.75
6567              13  ...                        1.75

[3 rows x 24 columns]

#### Normalização de valores

In [40]:
# criação das variáveis dummies

for key in session_X:
    session_preprocessed[key] = pd.get_dummies(session_preprocessed[key], prefix_sep='_')

In [41]:
# uniformização de valores numéricos

from sklearn.preprocessing import MinMaxScaler
import numpy as np

scaler = MinMaxScaler()


for key in session_X:
    X_train_norm = scaler.fit_transform(session_preprocessed[key])
    X_test_norm = scaler.fit_transform(session_preprocessed[key])
    session_preprocessed[key] = pd.DataFrame(dict(zip(session_preprocessed[key].columns.values, X_train_norm.T)))

In [42]:
session_preprocessed['session_test_X_mean_replacing'].sample(3)

      startHour  ...  availability_mixed
1169   0.826087  ...                 0.0
3006   0.913043  ...                 0.0
2371   0.869565  ...                 0.0

[3 rows x 32 columns]

<br>

### Remoção de variáveis não significativas

In [43]:
threshold_var=0

for key in session_X:
    l_var = [x for x in session_preprocessed[key].columns if session_preprocessed[key][x].var() <= threshold_var]
    for v in l_var:
        session_preprocessed[key] = session_preprocessed[key].drop([v], axis=1)

In [44]:
session_train_X.sample(3)

        sessionNo  ...  bMeanCountOverTransacitions
428542      49959  ...                          0.0
411858      48084  ...                          0.0
344425      40787  ...                          0.0

[3 rows x 26 columns]

<br>

### Exportação dos dados

In [45]:
import os


path = 'data'
if not os.path.exists(path):
    os.mkdir(path)

session = list(session_preprocessed.keys())
for key in session:
    session_preprocessed[key].to_csv(f'{path}/{key}.csv', index=False)