<img src="https://github.com/elaynelemos/prediction-of-orders-dmc/blob/main/assets/img/univasf-logo.png?raw=1" height=100 width=100/>

<center>
<h3>
    UNIVERSIDADE FEDERAL DO VALE DO SÃO FRANCISCO
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;COLEGIADO DE ENGENHARIA DE COMPUTAÇÃO
</h3>

<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Orientador</h3>
<span>Prof. Dr. Rosalvo Ferreira de Oliveira Neto</span>

<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Discentes</h3>
<span>Anísio Pereira Batista Filho
<br>Edjair Aguiar Gomes Filho
<br>Elayne Rute Lessa Lemos</span>
</center>
<br><br>

## Predição de pedidos com Redes Neurais e Random Forest

### Importação da base de dados

In [1]:
import numpy as np
import pandas as pd

In [2]:
transact_train_database = pd.read_csv('data/transact_train.txt', sep = '|')
transact_train_database.sample(3)

        sessionNo  startHour  startWeekday  ...  address  lastOrder order
412744      48189         17             7  ...        2        340     y
100860      12029         18             5  ...        ?          ?     y
9558         1235          8             5  ...        2         61     y

[3 rows x 24 columns]

In [3]:
transact_test_database = pd.read_csv('data/transact_class.txt', sep = '|')
transact_test_database.sample(3)

       sessionNo  startHour  startWeekday  ...  age  address lastOrder
44142       4927          3             1  ...   73        2        14
38295       4105         23             7  ...    ?        ?         ?
34606       3679         22             7  ...   44        1        36

[3 rows x 23 columns]

<br>

### Alteração da granularidade da base de dados

In [4]:
# remove todas as linhas com valores de sessionNo iguais exceto a última
session_train_database = transact_train_database.drop_duplicates(subset=['sessionNo'], keep='last')

# separa variável alvo no conjunto de treinamento
session_train_X = session_train_database.iloc[:,:-1]
session_train_y = session_train_database.iloc[:,-1]
session_train_y = session_train_y.replace({'y': 1 , 'n': 0 })

In [5]:
session_test_X = transact_test_database.drop_duplicates(subset=['sessionNo'], keep='last')
session_test_y = session_test_X['sessionNo']

In [6]:
session_test_X.sample(3)

       sessionNo  startHour  startWeekday  ...  age  address lastOrder
32207       3396         22             7  ...    ?        ?         ?
1771         178         18             7  ...   55        2         5
5305         530         19             7  ...   34        2         4

[3 rows x 23 columns]

<br>

### Tratamento de valores ausentes

In [7]:
def replace_missing_value(df, value, features):
    replaced = df[features].replace(value, np.nan)
    for column in features:
        df[column] = replaced[column]

    return df

In [8]:
# convert_float() é baseadona solução proposta no Estudo de Caso
# do livro Ciência dos Dados pelo Processo de KDD do Prof. Dr. Rosalvo Neto
# livro em: https://www.researchgate.net/publication/352749819_Ciencia_dos_Dados_pelo_Processo_de_KDD
# implementação em: https://github.com/rosalvoneto/Livro

def convert_float(df, numeric_features):
    for column in numeric_features:
        df[column] = df[column].astype(float)

    return df

In [9]:
# replace_missing_by_mean() é baseadona solução proposta no Estudo de Caso
# do livro Ciência dos Dados pelo Processo de KDD do Prof. Dr. Rosalvo Neto
# livro em: https://www.researchgate.net/publication/352749819_Ciencia_dos_Dados_pelo_Processo_de_KDD
# implementação em: https://github.com/rosalvoneto/Livro

def replace_missing_by_mean(df, numeric_features):
    for column in numeric_features:
        average = df[column].mean(axis=0)
        df[column].fillna(average, inplace=True)
    
    return df

In [10]:
def replace_by_reference(df, reference_feature, reference_feature_value, features, replace_to):
    rows = df[reference_feature] == reference_feature_value
    for column in features:
        df.loc[rows, column] = replace_to
    
    return df

In [11]:
def replace_missing_by_fixed_value(df, value, features):
    for column in features:
        df[column].fillna(value, inplace=True)

    return df

In [12]:
numeric_features = ['cMinPrice', 'cMaxPrice', 'cSumPrice', 'bMinPrice', 'bMaxPrice',
    'bSumPrice', 'bStep','maxVal', 'customerScore', 'accountLifetime', 'payments', 
    'age', 'address', 'lastOrder']

string_features = ['availability', 'onlineStatus']

In [13]:
session_train_X = replace_missing_value(session_train_X.copy(), '?', numeric_features)
session_test_X = replace_missing_value(session_test_X.copy(), '?', numeric_features)
session_train_X = replace_missing_value(session_train_X.copy(), '?', string_features)
session_test_X = replace_missing_value(session_test_X.copy(), '?', string_features)

In [14]:
session_train_X = convert_float(session_train_X, numeric_features)
session_test_X = convert_float(session_test_X, numeric_features)

In [15]:
replace_missing_by_mean(session_train_X, numeric_features)
replace_missing_by_mean(session_test_X, numeric_features)

       sessionNo  startHour  startWeekday  ...        age   address   lastOrder
8              1         18             7  ...  49.000000  1.000000   65.000000
19             2         18             7  ...  29.000000  2.000000  184.000000
42             3         18             7  ...  37.000000  2.000000  107.000000
48             4         18             7  ...  49.000000  2.000000   17.000000
50             5         18             7  ...  53.000000  2.000000  234.000000
...          ...        ...           ...  ...        ...       ...         ...
45037       5107          5             1  ...  43.525107  1.712398   89.313253
45039       5108          5             1  ...  53.000000  1.000000   34.000000
45054       5109          5             1  ...  43.525107  1.712398   89.313253
45060       5110          5             1  ...  43.525107  1.712398   89.313253
45067       5111          5             1  ...  43.525107  1.712398   89.313253

[5111 rows x 23 columns]

In [16]:
replace_missing_by_fixed_value(session_train_X, 'ausente', string_features)
replace_missing_by_fixed_value(session_test_X, 'ausente', string_features)

       sessionNo  startHour  startWeekday  ...        age   address   lastOrder
8              1         18             7  ...  49.000000  1.000000   65.000000
19             2         18             7  ...  29.000000  2.000000  184.000000
42             3         18             7  ...  37.000000  2.000000  107.000000
48             4         18             7  ...  49.000000  2.000000   17.000000
50             5         18             7  ...  53.000000  2.000000  234.000000
...          ...        ...           ...  ...        ...       ...         ...
45037       5107          5             1  ...  43.525107  1.712398   89.313253
45039       5108          5             1  ...  53.000000  1.000000   34.000000
45054       5109          5             1  ...  43.525107  1.712398   89.313253
45060       5110          5             1  ...  43.525107  1.712398   89.313253
45067       5111          5             1  ...  43.525107  1.712398   89.313253

[5111 rows x 23 columns]

In [17]:
session_train_X = replace_by_reference(session_train_X, 'customerNo', '?', ['maxVal',
    'customerScore', 'accountLifetime', 'payments', 'age', 'address', 'lastOrder'], 0)
session_test_X = replace_by_reference(session_test_X, 'customerNo', '?', ['maxVal',
    'customerScore', 'accountLifetime', 'payments', 'age', 'address', 'lastOrder'], 0)

In [18]:
session_train_X.sample(3)

        sessionNo  startHour  startWeekday  ...   age  address  lastOrder
93361       11175         17             5  ...  42.0      2.0      154.0
375985      44232         14             7  ...  36.0      2.0      139.0
71612        8612         15             5  ...  50.0      2.0       46.0

[3 rows x 23 columns]

In [19]:
transact_train_database = replace_missing_value(transact_train_database.copy(), '?', numeric_features)
transact_train_database = replace_missing_value(transact_train_database.copy(), '?', string_features)
transact_test_database = replace_missing_value(transact_test_database.copy(), '?', numeric_features)
transact_test_database = replace_missing_value(transact_test_database.copy(), '?', string_features)

transact_train_database = convert_float(transact_train_database, numeric_features)
transact_test_database = convert_float(transact_test_database, numeric_features)

In [20]:
transact_train_database.sample(3)

        sessionNo  startHour  startWeekday  ...  address  lastOrder  order
82552        9923         16             5  ...      2.0       26.0      y
18909        2329          9             5  ...      2.0       18.0      y
222704      26426         15             6  ...      2.0       19.0      y

[3 rows x 24 columns]

In [21]:
# torna o sessionNo o índice da base
session_train_X.set_index('sessionNo', inplace=True)
session_test_X.set_index('sessionNo', inplace=True)

In [22]:
# remove variável inútil
session_train_X = session_train_X.drop(['customerNo'], axis=1)
session_test_X = session_test_X.drop(['customerNo'], axis=1)

In [23]:
session_train_X.sample(3)

           startHour  startWeekday   duration  ...   age  address  lastOrder
sessionNo                                      ...
30344             18             6    338.943  ...   0.0      0.0        0.0
32653             20             6   2260.691  ...  48.0      2.0      590.0
2158               9             5  10697.044  ...   0.0      0.0        0.0

[3 rows x 21 columns]

<br>

### Criação de variáveis

In [24]:
# bMeanSumPriceOverTransacitions: valor médio do carrinho durante a sessão 
session_train_X['bMeanSumPriceOverTransacitions'] = transact_train_database.groupby('sessionNo').bSumPrice.mean()
session_train_X['bMeanSumPriceOverTransacitions'].fillna(0, inplace=True)
session_test_X['bMeanSumPriceOverTransacitions'] = transact_test_database.groupby('sessionNo').bSumPrice.mean()
session_test_X['bMeanSumPriceOverTransacitions'].fillna(0, inplace=True)

# meanInterationsDuration: valor médio de tempo entre uma transação e outra na sessão
session_train_X['meanInterationsDuration'] = session_train_X['duration']/transact_train_database.groupby('sessionNo').duration.count()
session_train_X['meanInterationsDuration'].fillna(0, inplace=True)
session_test_X['meanInterationsDuration'] = session_test_X['duration']/transact_test_database.groupby('sessionNo').duration.count()
session_test_X['meanInterationsDuration'].fillna(0, inplace=True)

# bMeanCountOverTransacitions: quantidade média de itens no carrinho durante a sessão 
session_train_X['bMeanCountOverTransacitions'] = transact_train_database.groupby('sessionNo').bCount.mean()
session_train_X['bMeanCountOverTransacitions'].fillna(0, inplace=True)
session_test_X['bMeanCountOverTransacitions'] = transact_test_database.groupby('sessionNo').bCount.mean()
session_test_X['bMeanCountOverTransacitions'].fillna(0, inplace=True)

In [25]:
session_train_X.sample(3)

           startHour  ...  bMeanCountOverTransacitions
sessionNo             ...
14468             20  ...                     2.625000
25640             15  ...                     5.722222
16605             21  ...                     2.400000

[3 rows x 24 columns]

<br>

### Normalização do conjunto de dados

In [26]:
# criação das variáveis dummies

session_train_X = pd.get_dummies(session_train_X, prefix_sep='_')
session_test_X = pd.get_dummies(session_test_X, prefix_sep='_')

In [27]:
from sklearn.preprocessing import MinMaxScaler
import numpy as np

scaler = MinMaxScaler()

X_train_norm = scaler.fit_transform(session_train_X)
X_test_norm = scaler.fit_transform(session_test_X)

session_train_X = pd.DataFrame(dict(zip(session_train_X.columns.values, X_train_norm.T)))
session_test_X = pd.DataFrame(dict(zip(session_test_X.columns.values, X_test_norm.T)))

In [28]:
session_train_X.sample(3)

       startHour  ...  availability_mixed
40183   0.478261  ...                 0.0
46174   0.652174  ...                 0.0
1674    0.391304  ...                 0.0

[3 rows x 33 columns]

<br>

### Remoção de variáveis não significativas

In [29]:
threshold_var=0
l_var = [x for x in session_train_X.columns if session_train_X[x].var() <= threshold_var]
for v in l_var:
    session_train_X = session_train_X.drop([v], axis=1)
    session_test_X = session_test_X.drop([v], axis=1)

In [30]:
session_train_X.sample(3)

       startHour  ...  availability_mixed
7194    0.608696  ...                 0.0
33601   0.869565  ...                 0.0
6487    0.565217  ...                 0.0

[3 rows x 33 columns]

<br>

### Exportação dos dados

In [31]:
session_train_X.to_csv('data/session_train_X.csv', index=False)
session_train_y.to_csv('data/session_train_y.csv', index=False)
session_test_X.to_csv('data/session_test_X.csv', index=False)
session_test_y.to_csv('data/session_test_y.csv', index=False)